<div class="d-flex mt-5 pt-5 landing-container">
    <div class="d-flex flex-column w-75 py-5 landing-text-container justify-content-center">
        <p class="landing-text-header">With us, you are up to date with the Premier League</p>
        <p class="mt-3">
        Check the current ranking and see which teams have the most points</p>
        <button class="btn btn-primary mt-2 landing-button" routerLink="/ranking">Check ranking</button>
    </div>
    <div class="py-5 d-flex image-container">
        <img class="rounded mx-2 align-self-end" src="../../assets/landing/1.png"/>
        <img class="rounded mx-2 align-self-start" src="../../assets/landing/2.png"/>
        <img class="rounded mx-2 align-self-end" src="../../assets/landing/3.png"/>
    </div>

</div>
