<div class="container-not-found d-flex w-100 align-items-center justify-content-center">
    <div class="d-flex rounded-circle bg-light not-found-circle align-items-center justify-content-center">
        <div class="d-flex flex-column bg-white rounded shadow align-items-center justify-content-center py-5 px-5 text-container">
            <h1 class="display-1 font-weight-bold">404</h1>
            <h5>page not found</h5>
            <p class="my-4 px-5 text-center">The link you clicked may be broken or the page may have been removed or renamed.</p>
            <button class="btn btn-primary" routerLink="/ranking">
                <i class="bi bi-arrow-left"></i> Go back
            </button>
        </div>
        
    </div>
</div>
