<div *ngIf="rank > 3" class="card px-3 py-5" style="background-image: url('https://fv2-2.failiem.lv/thumb_show.php?i=unru2q6yu&view'); background-size: cover;">
    <app-card 
    [rank]="rank"
    [name]="name"
    [imgUrl]="imgUrl"
    [points]="points"
    [abbreviation]="abbreviation"
    [wins]="wins"
    [draws]="draws"
    [losses]="losses"
    [goals]="goals"
    [goalsAgainst]="goalsAgainst"
    [difference]="difference">
    </app-card>
</div>

<div *ngIf="rank === 3" class="card px-3 py-5" style="background-image: url('https://fv2-1.failiem.lv/thumb_show.php?i=aqczk4xxe&view'); background-size: cover;">
    <app-card 
    [rank]="rank"
    [name]="name"
    [imgUrl]="imgUrl"
    [points]="points"
    [abbreviation]="abbreviation"
    [wins]="wins"
    [draws]="draws"
    [losses]="losses"
    [goals]="goals"
    [goalsAgainst]="goalsAgainst"
    [difference]="difference">
    </app-card>
</div>

<div *ngIf="rank === 2" class="card px-3 py-5" style="background-image: url('https://fv2-4.failiem.lv/thumb_show.php?i=bn6bmf93a&view'); background-size: cover;">
    <app-card 
    [rank]="rank"
    [name]="name"
    [imgUrl]="imgUrl"
    [points]="points"
    [abbreviation]="abbreviation"
    [wins]="wins"
    [draws]="draws"
    [losses]="losses"
    [goals]="goals"
    [goalsAgainst]="goalsAgainst"
    [difference]="difference">
    </app-card>
</div>

<div *ngIf="rank === 1" class="card px-3 py-5" style="background-image: url('https://fv2-4.failiem.lv/thumb_show.php?i=p97pswby5&view'); background-size: cover;">
    <app-card 
    [rank]="rank"
    [name]="name"
    [imgUrl]="imgUrl"
    [points]="points"
    [abbreviation]="abbreviation"
    [wins]="wins"
    [draws]="draws"
    [losses]="losses"
    [goals]="goals"
    [goalsAgainst]="goalsAgainst"
    [difference]="difference">
    </app-card>
</div>