<div class="d-flex flex-column align-items-center">
  <p class="display-4 mt-5 pt-5 w-100 d-flex justify-content-center">Search</p>
  <form class="d-flex search-container">
    <div class="search-input">
      <label for="inputName" class="sr-only">Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name" [(ngModel)]="name" name="Name">
    </div>
    <div class="search-input">
    <label for="inputPoints" class="sr-only">Points</label>
    <input type="text" class="form-control" id="inputPoints" placeholder="Points" [(ngModel)]="score" name="Score">
    </div>
    <button type="submit" class="btn btn-primary"
  (click)="searchClubs(name, score)" >Search</button>
    <button type="submit" class="btn btn-secondary"
  (click)="resetClubs()" >Reset</button>
  </form>

  <p class="display-4 w-100 d-flex justify-content-center">Ranking</p>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 p-5">  
  <div class="col mb-4" *ngFor="let standing of standings">
    <app-team 
      [rank]="standing.stats[8].value"
      [name]="standing.team.name"
      [imgUrl]="standing.team.logos[0].href"
      [points]="standing.stats[6].value"
      [abbreviation]="standing.team.abbreviation"
      [wins]="standing.stats[0].value"
      [draws]="standing.stats[2].value"
      [losses]="standing.stats[1].value"
      [goals]="standing.stats[4].value"
      [goalsAgainst]="standing.stats[5].value"
      [difference]="standing.stats[9].value"
    >
    
    </app-team>
  </div>
  </div>
</div>
